<!DOCTYPE html>
{% extends 'app/index.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block cart %}
{% endblock %}
{% block title %}
    <p class="lead fw-normal text-white-50 mb-0">Вы перешли в корзину. Для оформления заказа или очистки корзины нажмите соответствующую кнопку.</p>
{% endblock %}
{% block house %}
    <table class="table">
      <thead>
        <tr>
            <th scope="col">Наименование</th>
            <th scope="col">Цена</th>
            <th scope="col">Количество</th>
            <th scope="col">Стоимость</th>
        </tr>
      </thead>
      <tbody>
            {% for item in cart_list %}
            <tr>
                <td><b><a class="shadow-text" style="text-decoration: none; color: #000000" href="/item/{{ item.id }}/">{{ item }}</a></b></td>
                <td>{{ item.price }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.subtotal }}</td>
            </tr>
            {% empty %}
                <p>Корзина пуста.</p>
            {% endfor %}
      </tbody>
    </table>
        <form action="/buy/all/" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger mt-auto" style="ba ">Очистить корзину</button>
        </form>
        <div>
        Общая стоимость товаров в корзине:
        {% if total.sum %}
            <b>{{ total.sum }} {{ currency }}</b>
        {% else %}
            0 {{ currency }}
        {% endif %}
        </div>
        <form action="/buy/all/" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-success mt-auto" >Перейти к оформлению заказа</button>
        </form>

{% endblock %}


</body>
</html>
