<!DOCTYPE html>
{% extends 'app/index.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block cart %}
{% endblock %}
{% block title %}
    <p class="lead fw-normal text-white-50 mb-0">Вы перешли в корзину. Для оформления заказа или очистки корзины нажмите соответствующую кнопку.</p>
{% endblock %}
{% block house %}
    {% if cart_list %}
    <table class="table">
      <thead>
        <tr>
            <th class=text-center scope="col">Наименование</th>
            <th class=text-center scope="col">Цена</th>
            <th class=text-center scope="col">Количество</th>
            <th class=text-center scope="col">Стоимость</th>
        </tr>
      </thead>
      <tbody>
            {% for item in cart_list %}
            <tr>
                <td class="text-center"><b><a class="link-secondary" style="text-decoration: none;" href="/item/{{ item.id }}/">{{ item }}</a></b></td>
                <td class="text-center">{{ item.price }}</td>
                <td class="text-center">{{ item.amount }}</td>
                <td class="text-center">{{ item.subtotal }}</td>
            </tr>
            {% endfor %}
      </tbody>
    </table>
    {% else %}
        <p>Корзина пуста.</p>
    {% endif %}
        <form action="{% url 'cart_flush' %}" method="GET">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger mt-auto">Очистить корзину</button>
        </form>
            <div>
                Общая стоимость товаров в корзине:
                {% if total.sum %}
                    <b>{{ total.sum }} {{ currency }}</b>
                {% else %}
                    0 {{ currency }}
                {% endif %}
            </div>
        <form action="/buy/all/" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-success mt-auto" >Перейти к оформлению заказа</button>
        </form>
{% endblock %}

</body>
</html>
