<!DOCTYPE html>
{% extends 'app/index.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block cart %}
{% endblock %}
{% block title %}
    <p class="lead fw-normal text-white-50 mb-0">Детальная информация по товару.</p>
{% endblock %}
{% block house %}
    <div class="col-md-8"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
    <div class="col-md-8">
        <div class="small col-md-8" style="width: 1500">SKU: {{ item.id }}</div>
        <h3 class="display-7 fw-bolder">{{ item.name }}</h3>
        <div class="fs-8 mb-8">
            <span class="text-decoration-line-through">{{ item.price }}{{ item.currency }}</span>
            <span>{{ item.price }}{{ item.currency }}</span>
        </div>
        <p class="lead">{{ item.description }}</p>
        <div class="form-inline">
            <form action="/add/{{ item.id }}/" method="POST">
                {% csrf_token %}
                <input type="number" class="form-control text-center me-1" id="inputQuantity"  value="1" style="max-width: 3rem"/>
                <button type="submit" class="btn btn-outline-success mt-auto" >В корзину</button>
            </form>
            <form action="/buy/{{ item.id }}/" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-dark mt-auto">Заказ в 1 клик</button>
            </form>

            <form>
                <input id="change_button" type="button" value="Function Alert" onclick='alertFunction()'>
            </form>
            <button onclick='alert("Hello there!");'>Inside alert</button>
            <button id="buy-button">Function fast order</button>
        </div>
    </div>
{% endblock %}
</body>
</html>


<script type="text/javascript">
    var buyButton = document.getElementById('buy-button');
    buyButton.addEventListener('click', function() {
        // Call your backend to create the Checkout Session
        fetch('/123/', {
          method: 'POST',
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function(result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using `error.message`.
              if (result.error) {
                alert(result.error.message);
              }
        })
    })

    function alertFunction() {
      alert("Hello there!");
    }
    document.addEventListener('DOMContentLoaded', alertFunction);
</script>